Documentation/Specification.aux
Documentation/Specification.fdb_latexmk
Documentation/Specification.fls
Documentation/Specification.log
Documentation/Specification.synctex.gz
Documentation/Specification.toc
Simulation/.SAM.circ.autosave
Simulation/SAM.bak
